body{
    font-family: 'Open Sans', sans-serif;
}

/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 226px;
    margin-right: 230px;
}
nav > ul {
    display: flex;
    align-items: center;
}

ul > li{
    list-style: none;
    margin-right: 51px;
    
font-size: 20px;

font-weight: 400;
align-items: center;

}

.name-tag{
color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;

}
.btn-pr{

    background-color: #FD6E0A;
    width: 120px;
    height: 50px;
    color: white;
    font-family: Open Sans;
font-size: 15px;
border-radius: 5px;

}

.rib{
    color: #FD6E0A;
}

/* Banner Header */
.banner{
    display: flex;
    align-items: center;
    background-color: #FFF8F3;
}
.profile-pic{
    width: 584px;
height: 676px;
}