body{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.banner-content{
    max-width: 500px;
}
/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 79px;
    margin-right: 0px
}
nav > ul {
    display: flex;
    align-items: center;
}

ul > li{
    list-style: none;
    margin-right: 51px;
    
font-size: 20px;

font-weight: 400;
align-items: center;

}

.name-tag{
color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;

}
.btn-pr{

    background-color: #FD6E0A;
    width: 120px;
    height: 50px;
    color: white;
    font-family: Open Sans;
font-size: 15px;
border-radius: 5px;
border: none;

}

.rib{
    color: #FD6E0A;
}

/* Banner Header */
.header{
    background-image: url(/images/header_bg.png) ,url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , left top;
    background-color: #FFF8F3;
    
    
}
.banner{
    display: flex;
    align-items: center;
    margin-left: 82px;
    
}
.profile-pic{
    width: 584px;
height: 676px;
}
/* Main Section start */
main{
    max-width: 1140px;
    margin: 0px auto;
}
.about{
    background-color: #FFF8F3;
    width: 975px;
    height: 264px;
text-align: center;
margin: auto;
margin-top: 130px;
padding: 40px;
}
.about-info{
    display: flex;
    gap: 60px;
    margin-left: 300px;

}
.whatido{
    margin: 60px auto 60px auto;
    text-align: center;
    max-width: 909PX;
}
